[submodule "ext/dyno"]
	path = ext/dyno
	url = https://github.com/ldionne/dyno.git
[submodule "ext/backward-cpp"]
	path = ext/backward-cpp
	url = https://github.com/ldionne/backward-cpp.git
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://github.com/ldionne/gtest.git
[submodule "ext/dbg-d2"]
	path = ext/dbg-d2
	url = https://github.com/ldionne/dbg-d2.git
